<a href="https://colab.research.google.com/github/Ptbambie/Cours-python/blob/main/Python_2_7_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

In [1]:
my_tuple = (42, 15, 7, "apple", "banana", "orange", [1, 2, 3], [4, 5, 6], {"name": "Alice", "age": 30, "city": "New York"}, {"name": "Bob", "age": 25, "city": "San Francisco"})

Now, access the second-to-last item in the second list.

In [2]:
second_list = my_tuple[7]  # Access the second list
second_to_last_item = second_list[-2]  # Access the second-to-last item in the list

print(second_to_last_item)

5

# Mission 2

In the same tuple, access the last 4 elements using slicing.

In [3]:
last_four_elements = my_tuple[-4:]

print(last_four_elements)

([1, 2, 3], [4, 5, 6], {'name': 'Alice', 'age': 30, 'city': 'New York'}, {'name': 'Bob', 'age': 25, 'city': 'San Francisco'})

# Mission 3

Change the value of the 4th element (the first string) of your tuple (since tuples are immutable, this means recreating a tuple where this element is changed).

In [4]:
# Original tuple
original_tuple = (42, 15, 7, "apple", "banana", "orange", [1, 2, 3], [4, 5, 6], {"name": "Alice", "age": 30, "city": "New York"}, {"name": "Bob", "age": 25, "city": "San Francisco"})

# Change the 4th element (first string) to "pear"
changed_tuple = original_tuple[:3] + ("pear",) + original_tuple[4:]

print(changed_tuple)

(42, 15, 7, 'pear', 'banana', 'orange', [1, 2, 3], [4, 5, 6], {'name': 'Alice', 'age': 30, 'city': 'New York'}, {'name': 'Bob', 'age': 25, 'city': 'San Francisco'})

# Mission 4

Create 2 tuples of the same length that contain only integers.

Then create a script that compares the sum of their elements and displays the tuple that has the highet total.

In [5]:
# Create two tuples of the same length containing integers
tuple1 = (10, 20, 30, 40, 50)
tuple2 = (5, 15, 25, 35, 45)

# Calculate the sums of the elements in each tuple
sum_tuple1 = sum(tuple1)
sum_tuple2 = sum(tuple2)

# Compare the sums and display the result
if sum_tuple1 > sum_tuple2:
    print("Tuple 1 has the higher total:", tuple1)
elif sum_tuple2 > sum_tuple1:
    print("Tuple 2 has the higher total:", tuple2)
else:
    print("Both tuples have the same total:", sum_tuple1)

Tuple 1 has the higher total: (10, 20, 30, 40, 50)

# Mission 5

Here's a tuple:

`my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")`

Ask the user for a string, then for an integer position. Create an altered copy of `my_tuple` where the element at the given position is now the given string.

In [6]:
my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

# Ask the user for a string
new_string = input("Enter a new string: ")

# Ask the user for an integer position
position = int(input("Enter an integer position: "))

# Check if the given position is valid
if 0 <= position < len(my_tuple):
    # Create an altered copy of the tuple
    altered_tuple = my_tuple[:position] + (new_string,) + my_tuple[position + 1:]
    print("Altered tuple:", altered_tuple)
else:
    print("Invalid position entered.")

Enter a new string: OK
Enter an integer position: 3
Altered tuple: ('data analyst', 'data scientist', 'data engineer', 'OK')