<a href="https://colab.research.google.com/github/Ptbambie/Cours-python/blob/main/Python_2_6_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Below is a dictionary containing the number of French campuses that offer each kind of Wild Code School course.

wildcodeschool = {
   "data_analyst": 4,
   "data_scientist": 2,
   "dev_web": "13"
}

Find a way to only display the keys that have int values.

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13"
}

In [1]:
wildcodeschool = { "data_analyst": 4, "data_scientist": 2, "dev_web": 13 }

for key, value in wildcodeschool.items():
    if isinstance(value, int):
        print(key)

data_analyst
data_scientist
dev_web

# Mission 2

For the same dictionary, find a way to display all the values that have a key that contains the letter "e".

In [3]:
wildcodeschool = { "data_analyst": 4, "data_scientist": 2, "dev_web": 13 }

for key, value in wildcodeschool.items():
    if 'e' in key:
        print(value)

2
13

# Mission 3

Within the same dictionary, change the type of the value of the "dev_web" key to be an int. Then add a new key-value pair which will be "total_campus" : 19, using a **dictionary method**.

# Mission 4

Take the dictionary generated from mission 3. Delete the key value pair :
- 'dev_web': 13 using a method
- 'total_campus': 19 using another method

In [4]:
wildcodeschool = { "data_analyst": 4, "data_scientist": 2, "dev_web": "13" }

# Change the value of "dev_web" key to an integer
wildcodeschool["dev_web"] = 13

# Add a new key-value pair "total_campus"
wildcodeschool["total_campus"] = 19

print(wildcodeschool)

{'data_analyst': 4, 'data_scientist': 2, 'dev_web': 13, 'total_campus': 19}

# Mission 5

Still within the dictionary generated from Mission 3, find a way to display the dictionary keys in alphabetical order.

In [5]:
wildcodeschool = { "data_analyst": 4, "data_scientist": 2, "dev_web": 13, "total_campus": 19 }

sorted_keys = sorted(wildcodeschool.keys())

for key in sorted_keys:
    print(key)

data_analyst
data_scientist
dev_web
total_campus

# Mission 6

Create a script that returns the same elements as the **values()** method, as a list.

Example: for `{'a': 1, 'b': 2, 'c': 3}` it will create `[1, 2, 3]`

In [6]:
def get_values_as_list(dictionary):
    values_list = list(dictionary.values())
    return values_list

# Exemple d'utilisation
my_dict = {'a': 1, 'b': 2, 'c': 3}
result = get_values_as_list(my_dict)
print(result)

[1, 2, 3]